body {
  line-height: inherit; /* 2 */
}

html,
body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  background-color: #000000;
}

#root {
  margin: 0 auto;
  text-align: center;
  height: 100%;
}

.avatar-wraper {
  overflow: hidden;
  width: 42px;
  border-radius: 50%;
  img {
    object-fit: contain;
  }
}
